/*
** @partial: _cards.scss
*/

// == Import all the card related partials
@import "text-card";
@import "promotion-card";
@import "social-media";

// == Card columns
.card-col {
	@include media('>sm') {
		&--4 {
			flex: 0 0 29.957788%;
			max-width: 29.957788%;
		}

		&--5 {
			flex: 0 0 (100% - 59.91555%);
			max-width: (100% - 59.91555%);
		}

		&--7 {
			flex: 0 0 59.91555%;
			max-width: 59.91555%;
		}
	}
}

// == Card body
.card__b {
	padding: 1.786rem 1.071rem;
	@include media('>=ipad') {
		padding: 10.528% 6.14233%;
	}
}

// == Square card
.card--sq {
	position: relative;
	overflow: hidden;
	transition: all ceaser($easeInOutQuint) 0.35s;

	&::after {
		content: "";
		display: block;
		padding-bottom: percentage(350 / 350);
	}

	// == card inner
	.card__c {
		@include make-full-position(absolute);
		padding: 1.071rem 1.071rem;
		text-align: center;

		&.center {
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
		}
	}
}

// == Has hover effect
.card.has-hover {
	&:hover {
		color: $brand-primary !important;
	}
}

// == has promo tag
.has-promo-tag {
	.promo-tag-holder {
		position: absolute;
		top: 0;
		right: 0;
		line-height: 1;
		height: 5rem;
		width: 5rem;
		transform: rotate(45deg);

		&::before {
			@include make-position(absolute);
			// top: -25px;
    		// right: -42px;
    		top: -1.389rem;
    		right: -2.25rem; //~-2.333rem;
			z-index: $zindex-neg;
			content: "";
			border-left: 5rem solid transparent;
			border-right: 5rem solid transparent;
			border-bottom: 5rem solid $brand-primary;
		}
	}
}

.promo-tag-holder {
	.icon {
		font-size: 1.6rem;		
	}
}

// == Card brand 
.card--brand {
	position: relative;
	padding: 1.071rem 1.071rem;//~1.786rem 1.071rem;
	width: 100%;
	&-catalogue{
		h3{
			font-size: 2rem;
		}
	}

	&.has-floating-footer {
		padding-bottom: 9.45rem;
		// @include media(">sm") {
		// 	padding-bottom: 9.45rem;
		// }
	}

	@include media(">=ipad") {
		padding: 1.444rem 15%; //~6% 15%; Firefox sucks with flex childs having top/bottom(y-axis) margin/padding in percentage
		&-catalogue{
			padding: 1.444rem 8.25%;

		}
	}

	.card__t {
		margin-bottom: 1.15rem;
	}

	// == Brand card action lists
	.promo-action-list {
		@include media(">=ipad") {
			margin-right: -10%;
		}
	}

	.card__f {		
		bottom: auto;
		z-index: $zindex-normal;
		width: calc(100% - 30px);
		// padding-right: 1.071rem;
		// padding-left: 1.071rem;

		@include media("<=sm") {
			// position: static !important;
			// transform: none;
		}

		@include media(">sm") {
			bottom: 1.444rem;
		}

		@include media(">=ipad") {
			width: calc(100% - 30%);
			// padding-right: 15%;
			// padding-left: 15%;
		}
	}
}

// Card meta list
// .meta-list {
// 	@include media(">=ipad") {
// 		margin-right: -10%;
// 	}

// 	>li>a {
// 		.icon {
// 			transition: all ceaser($easeInOutQuint) 0.35s;
// 		}
		
// 		&:hover {
// 			>.icon {
// 				color: $brand-primary;
// 			}
// 		}
// 	}
// }

// == Card with ribbon
.has-ribbon {
	@include media(">sm") {
		position: relative;
		&::before {
			position: absolute;
			top: -5.499999rem;
			left: -1.5rem;
			z-index: $zindex-low;
			content: "";
			background-image: url(#{$img_path}ribbon.png);
			background-position: top right;
			background-repeat: no-repeat;
			background-size: cover;
			width: 16.389rem;
			height: 14.389rem;
		}
	}
}

// == Home page news block
#homeNewsBlock {
	@include media("<=sm") {
		padding-top: 2.5rem;
		background-color: $brand-dark;
	}
}

// == Card contents
.article-card {
	position: relative;
	overflow: hidden;
}

.article-card__c {
	position: relative;
	padding: 1.786rem 1.071rem 3.5rem;
	// @include media(">sm") {
	// 	padding-bottom: 4.77rem; //~ bottom = 1.389rem;
	// }
	@include media(">=ipad") {
		padding: 10.75% 9.2222% 12.5%;
	}

	.article-sharer-holder{
		top: 0 !important;
		right: 0 !important;
	}

	.promo-tags {
		padding-right: 2.2rem;
	}
}

.catalogue{
	top: 0 !important;
	right: 0 !important;

}

// == article picture
.article-card__pic {
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
		padding-bottom: percentage(471/685);
	}

	.img {
		@include make-full-position(absolute);
	}
}

// == Small and Medium article cards common style
.article-card--sm,
.article-card--md {
	@include media(">sm") {
		.picto-holder {
			line-height: 3.241rem;
			height: 3.241rem;
			width: 3.241rem;
		}
	}

	@include media(">=ipad") {
		.article-card__c {
			padding: 9% 8.75% 7%; //~9% 8.25% 7%;
		}

		.picto-holder {
			line-height: 3.889rem;
			height: 3.889rem;
			width: 3.889rem;
		}

		.promo-title {
			font-size: 1.778rem;//~1.667rem;
		}

		.promo-cat {
			margin-bottom: 1.55rem;
		}
	}
}

// == Small article card
.article-card--sm {
	@include media(">=ipad") {
		.article-card__c {
			padding: 9% 8.25% 7%;
		}
	}
}

// == Medium article card
.article-card--md {
	@include media(">=ipad") {
		.article-card__c {
			padding: 13% 8.25% 13%;
		}

		.promo-action-list {
			right: 8.25%;
		}
	}
}

// == Article tags link
.promo-tags__link {
	color: $brand-dark;
	&:hover {
		color: $brand-primary;
	}
}

// == More article holder
.text-offset {
	@include media(">sm") {
		position: absolute;
		top: -0.40%;
		right: 0;

		&::after {
			position: absolute;
			top: 50%;
			right: -70.5%;
			margin-top: 0px;
			content: "";
			background-color: lighten($brand-dark, 10%);
			height: 3px;
			width: 63%;
		}
	}

	@include media(">=1600px") {
		right: -17%;
	}

	&-link {
		color: $brand-gray;
		@include media(">sm") {
			color: lighten($brand-dark, 10%);
		}
		.notTouchDevice & {
			&:hover {
				color: lighten($brand-dark, 20%);
			}
		}
	}
}