/*
** @form utilities reusable module
*/

.lists--utilities {
	// Form utilities list
	margin-right: -10px;
	margin-left: -10px;
	li {
		padding-right: 10px;
		padding-left: 10px;			
		width: 50%;
	}
}

.form-group--custom {
	margin-bottom: 0.75rem; // ~1rem;
}

/* Custom input types */
.custom-form-field {
	// Radio/Checkbox label
	+ label {
		&:not(.error) {
			position: relative;
			display: inline-block;
			margin: 0 0;
			padding-left: 2rem;
			font-size: 1rem;
		    cursor: pointer;

		    &::before {
			    position: absolute;
			    top: 50%;
			    left: 0;
			    content: "";
			    display: inline-block;
			    background-color: $brand-gray;
			    border-radius: 5px;
			    width: 1.444rem;
			    height: 1.444rem;
			    max-height: 24px;
			    max-width: 24px;
			    transform: translateY(-50%);
			    transition: all ceaser($easeInOutQuint) 0.35s;
			}
		}
	}

	&[type="checkbox"] {
		+ label {
			&::after {
				position: absolute;
				top: 0.4rem;
				left: 0.35rem;
				opacity: 0;
				content: "";
				border-color: $brand-white;
				border-style: solid;
				border-width: .14rem .14rem 0 0;
				height: 0.45rem;
				width: 0.75rem;
				transform: rotate(125deg);
				transition: all ceaser($easeInOutQuint) 0.35s;
			}
		}
	}

	// Type checkbox - status checked
	&[type="checkbox"]:checked {
		+ label {
			color: $brand-primary;
			&::before {
				background-color: $brand-primary;
			}

			&::after {
				opacity: 1;
			}
		}
	}

	// Type radibox
	&[type="radio"] + label {
		&::before {
			background: {
				color: $brand-white;
			}
			border: 4px solid $brand-gray;
			border-radius: 50%;
		}

		&::after {
			position: absolute;
			top: 50%;
			left: 7px;			
			opacity: 0;
			content: "";
			border: 3px solid;
			border-radius: 50%;
			transform: translateY(-50%);
			transition: all ceaser($easeInOutQuint) 0.35s;

			@include media(">=ls") {
				left: 8px;
				border-width: 4px;
			}
		}
	}	

	// Type radibox - status checked
	&[type="radio"]:checked {
		+ label {
			color: $brand-primary;
			&::before {
				border: 4px solid $brand-primary;
				border-radius: 50%;
			}

			&::after {
				opacity: 1;
			}
		}
	}
}