/**
* @partial: _lists-editor.scss
*/

.lists-editor {
	margin-top: 1rem;
	padding-left: 5.1%;
	counter-reset: list-counter;
	@include media('>=ls') {
		font-size: 0.889rem;
	}

	>li {
		position: relative;
		padding-left: 1.45rem;

		&:not(:last-of-type) {
			margin-bottom: 0.1rem;
		}

		&::before {
			position: absolute;
			top: 8px;
			left: 0;
			content: "";
			border-radius: 50%;
			border-style: solid;
			border-width: 5px;
		}
	}

	// == Ordreded lists
	&--ordered {
		>li {
			&::before {
				top: auto;
				content: counter(list-counter);
				counter-increment: list-counter;
				border: 0;
			}
		}
	}
}