/*
** @partial: _fonts.scss
*/

// Importing ont faces from local directory

// == Knewave font family
@font-face {
    font-family: 'Knewave';
    src: url('#{$font_path}webfonts/Knewave.eot');
    src: url('#{$font_path}webfonts/Knewave.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Knewave.woff') format('woff'),
        url('#{$font_path}webfonts/Knewave.ttf') format('truetype'),
        url('#{$font_path}webfonts/Knewave.svg#Knewave') format('svg');
    font-weight: normal;
    font-style: normal;
}

// == Open Sans font family
@font-face {
    font-family: 'Open Sans';
    src: url('#{$font_path}webfonts/OpenSans.eot');
    src: url('#{$font_path}webfonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/OpenSans.woff') format('woff'),
        url('#{$font_path}webfonts/OpenSans.ttf') format('truetype'),
        url('#{$font_path}webfonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font_path}webfonts/OpenSans-Semibold.eot');
    src: url('#{$font_path}webfonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/OpenSans-Semibold.woff') format('woff'),
        url('#{$font_path}webfonts/OpenSans-Semibold.ttf') format('truetype'),
        url('#{$font_path}webfonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('#{$font_path}webfonts/OpenSans-Bold.eot');
    src: url('#{$font_path}webfonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/OpenSans-Bold.woff') format('woff'),
        url('#{$font_path}webfonts/OpenSans-Bold.ttf') format('truetype'),
        url('#{$font_path}webfonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// == Poppins font family
@font-face {
    font-family: 'Poppins';
    src: url('#{$font_path}webfonts/Poppins-Regular.eot');
    src: url('#{$font_path}webfonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Poppins-Regular.woff') format('woff'),
        url('#{$font_path}webfonts/Poppins-Regular.ttf') format('truetype'),
        url('#{$font_path}webfonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font_path}webfonts/Poppins-Medium.eot');
    src: url('#{$font_path}webfonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Poppins-Medium.woff') format('woff'),
        url('#{$font_path}webfonts/Poppins-Medium.ttf') format('truetype'),
        url('#{$font_path}webfonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('#{$font_path}webfonts/Poppins.eot');
    src: url('#{$font_path}webfonts/Poppins.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Poppins.woff') format('woff'),
        url('#{$font_path}webfonts/Poppins.ttf') format('truetype'),
        url('#{$font_path}webfonts/Poppins.svg#Poppins') format('svg');
    font-weight: bold;
    font-style: normal;
}

// == Roboto font family
@font-face {
    font-family: 'Roboto';
    src: url('#{$font_path}webfonts/Roboto-Black.eot');
    src: url('#{$font_path}webfonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('#{$font_path}webfonts/Roboto-Black.woff') format('woff'),
        url('#{$font_path}webfonts/Roboto-Black.ttf') format('truetype'),
        url('#{$font_path}webfonts/Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}