/*
** Variables collection
*/

// Usage of ceaser($easeInOutQuad)
// transition: all ceaser($easeInOutQuint) 0.35s;
// box-shadow: 0px 10px 40px 0px rgba(148,146,245,0.2);

// == PATH VARIABLES
$img_path: 				'../images/';
$content: 				'../../contents/';
$svg_path: 				'../svg/';
$font_path:				'../fonts/';

// == COLOR SCHEMA
$brand-primary:			#e1568e; // ~df558d
$brand-secondary:		#fec1da;
$brand-success:			#5bacbd; // lighten($brand-primary, 25%);//~ #60b6c0;
$brand-info:			  #ededed;
$brand-warning:			#ff8d60;	
$brand-danger:			#ec110a;

$brand-white:			  #ffffff;
$brand-black:			  #262424;
$brand-dark:			 #333333;
$brand-gray:			 #b1b1b1;
$brand-dark-gray:		darken(#b1b1b1, 5%);
$brand-gray-light:		#f8f8f8;
$brand-gray-mid:		#f5f5f5;
$gray-dark:				$brand-black;
$gray-light:			$brand-gray;
$tab-link-bg-color:    #f1f1f1;
$form-success-color:  #41bd0c;

// == Variables to generate class with respective colors
$brand_class_list: primary, success, info, faded, light, dark;
$brand_color_list: $brand-primary, $brand-success, $brand-info, $brand-gray, $brand-white, $brand-dark;
$brand_size_class_list: xs sm md lg xl;
$brand_size_val_list: 0.675 1 1.22 3.056 3.889;

// == TYPO CASES
$uc:					uppercase;
$lc: 					lowercase;
$caps: 				capitalize;

// == STACK UTILITIES
$zindex-neg:			-1;
$zindex-low: 			0;
$zindex-normal: 		1;
$zindex-high: 			2;
$zindex-super: 			1000;

// == FONT WEIGHTS
$font-wt: 				300;
$font-wr: 				400;
$font-wm: 				500;
$font-wb: 				800;

// == Bootstrap variables - overriding

// Body
//
// Settings for the `<body>` element.

$body-bg:       $brand-gray-light;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color:            $brand-black;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-poppins:			"Poppins", Helvetica, Arial, sans-serif;
$font-family-open-sans:			"Open Sans", Helvetica, Arial, sans-serif;
$font-family-rb:				"Roboto", Helvetica, Arial, sans-serif;
$font-family-knev:				"Knewave", Helvetica, Arial, sans-serif;
$font-family-base:      		$font-family-open-sans;

// == heading font sizes
$font-size-h1: 	2.778rem; //~50px
$font-size-h2: 	2.222rem; //~40px
$font-size-h3: 	1.333335rem; //~24px
$font-size-h4: 	1.111112rem; //~20px
$font-size-h5: 	1rem;     //~18px
$font-size-h6: 	0.889rem;     //~16px
$font-size-50:	2.778rem;
$font-size-60:	3.333rem;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:      	1.50; // 28/16  ====> 1.428571429 !default; // 20/14

//** By default, this inherits from the `<body>`.
$headings-font-family: $font-family-poppins;
// $headings-font-weight:		300;
//$headings-line-height:		1.2;

$small-font-size:      77.7777%;

/*
** ========== 	These bootstraps variables should need to be converted in rem from px to avoid 'rem to px' conversion error
*/

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1440px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	xs: 1200px
);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            false;

// Forms

// $input-line-height:         normal;
$input-padding-x:           0.833rem; //~.9375rem;
$input-padding-y:           1rem;//~1.0556rem;
$input-padding-lg-y:        1.02799rem;

$input-color-focus:         inherit;
$input-bg-focus:            transparent;
$input-border-focus:        $brand-primary;
$input-border-color:        $brand-gray;
$form-group-margin-bottom:  0.444rem;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-margin-top:		0px;
$dropdown-border-width: 	0;
$dropdown-border-colo:		transparent;
$dropdown-link-hover-color:	$brand-white;
$dropdown-link-hover-bg:	$brand-primary;
$dropdown-item-padding-x:	0;
$zindex-dropdown-backdrop: -1;

// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  0.806rem;
$btn-padding-y:                  0.806rem;
$btn-line-height:                1;

$input-btn-border-width:         1px;
$btn-font-weight:                $font-wb;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: ($spacer-x * 1.66),
    y: ($spacer-y * 1.66)
  ),
  4: (
    x: ($spacer-x * 2.25),
    y: ($spacer-y * 2.25)
  ),
  5: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  6: (
    x: ($spacer-x * 3.5),
    y: ($spacer-y * 3.5)
  ),
  7: (
    x: ($spacer-x * 4.15),
    y: ($spacer-y * 4.15)
  ),
  9: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  ),
  12: (
    x: ($spacer-x * 6.556),
    y: ($spacer-y * 6.556)
  )
);