/*
** @partial: _jumbotron.scss
*/

// == Homepage Hero slider content
.hero-overlay-content {
	@include media("<=sm") {
		padding: 1.786rem 1.071rem;
		background-color: $brand-primary;
	}

	@include media(">sm") {
		position: absolute;
		top: 10%;
		right: 0;
		left: 0%;
		z-index: $zindex-normal;
		margin-right: auto;
		margin-left: auto;
		padding-right: 15px;
		padding-left: 15px;
		max-width: 1285px;
		width: 100%;
	}

	@include media("<=ipad", ">sm") {
		right: -150px;
		width: calc(100% - 150px);
	}

	@include media(">ipad") {
		top: 14%;
	}

	// == map card
	.shape {
		overflow: hidden;
		position: relative;
		margin-left: auto;
		width: 5.55666rem;
		box-sizing: border-box;
		text-align: center;

		@include media("<=sm") {
			width: 80px;
		}

		// @include media(">=ipad") {
		// 	width: 7.968888%;
		// }

		&::before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		&__c {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			transform: translateY(-50%);
		}
	}

	// == Opening hours card
	.opening-hours-card {
		margin-right: 5.55rem;//~5.667rem;	
		border: 0.566rem solid $brand-primary;
		box-sizing: border-box;
		cursor: pointer;
		// width: 20%;
		width: 10.5rem;//~15.936666%;
		text-align: left;
		transition: all ceaser($easeInOutQuint) 0.35s;

		@include media("<=sm") {
			width: 135px;
			border: 5px solid $brand-white;
		}

		@include media(">=ipad") {
			width: 11.936666rem;//~15.936666%;
		}

		.notTouchDevice & {
			&:hover {
				border-color: darken($brand-primary, 5%);
			}
		}

		.shape__c {
			padding: 10px 10px;
			@include media(">=ipad") {
				padding: 0.925rem 1.222rem 0.833rem;
			}
		}
	}

	// == Map card
	.marker-holder {
		border: 3px solid $brand-white;
		.icon {
			font-size: 2.25rem;
		}

		&:hover {
			border-color: darken($brand-white, 5%);
		}
	}
}

// == Reusable banner module style
.promo:not(#homePromoMisc) {
	position: relative;
	&.has-cover {
		@include media("<=sm") {
			background-color: $brand-primary;
			.promo__c {
				position: static !important;
				transform: none !important;
			}
		}
	}
}

// == Promo content
.promo__c {
	// == is floated	
	&.is-floated {
		width: 100%;
		@include media(">sm") {
			padding-right: 15px;
			padding-left: 15px;
			max-width: 1200px;//~1200px;
		}
	}

	&--lg {
		padding-right: 15px;
		padding-left: 15px;
		max-width: 1285px;//~1200px;
	}
}

// == Promo bkg
.promo--bkg {
	// @include media(">sm") {
	// 	min-height: 30rem;
	// }
	
	@include media(">sm") {
		min-height: 34.44445rem;
	}
}

// == Promo bkg large
.promo--bkg-lg {
	@include media(">sm") {
		min-height: 30rem;
	}
	
	@include media(">=ipad") {
		min-height: 43.056rem;
	}
}

// == Promo with "last" subsidiary class
.promo.last {
	padding-bottom: 16.667rem;
}

// == Banner in smaller screens
.xs-promo {
	overflow: hidden;
	max-height: calc(100vh - 60px);
}

.isTouchDevice .xs-promo {
	height: calc(100vh - 60px);
}

.xs-promo__c {
	padding: 1.071rem;
	width: 100%;
}

.xs-promo__subtitle {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;
}

.xs-promo__title {
	font-size: 3rem;
	text-transform: uppercase;
}

.xs-promo__btn {
	padding: 1.25rem 2rem;
}

.xs-promo__f .btn {
	padding: 1.25rem 1.5rem;
	width: 100%;
	.icon {
		font-size: 1.75rem;
	}
}