/*
** @partial: _back-to-top.scss
*/

/*
** @Back to top of the page module
*/

.back-top-wrap {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: $zindex-super;
  pointer-events: none;
  opacity: 0;
  transform: translateY(50px);
  transition: all ceaser($easeInOutQuad) 0.35s;

  &.animate {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0px);
  }

  .back-top-trigger {
    display: block;    
    background: {
    	color: $brand-primary;
    };
    color: $brand-white;
    width: 3.214rem;
    height: 3.214rem;
    line-height: 3.214rem;
    text-align: center;

    @include media(">sm") {
      width: 3.333rem;
      height: 3.333rem;
      line-height: 3.333rem;
    }

    &:hover {
    	background-color: darken($brand-primary, 5%);
    }

    // Chevron
    .chevron, i {
      border-width: .25rem .25rem 0 0;
      width: 0.833rem;
      height: 0.833rem;
    }
  }
}