/*
** @partial: _button.scss
*/


// scss for modifiaction of Bon plans and Enseigne  page

.simple {
  padding: 0;
  margin-top: 3.722rem;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  text-transform: none;
  letter-spacing: 1px;
}
.dropdown_btn{
  &.is-floated{
    background-color: #fff;
    position: absolute;
    right: 0;
    left: auto;
    top:0;
    bottom: 0;
    min-width: auto;


  }
}

.hover {
  .brand-pic {
    position: relative;
    padding: 0 0 25% 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: 500ms ease all;

    .modal__redirect {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.7);

      span{
        background-color: #e1568e;
        color: #fff;
        padding: 0.5rem 1rem;
      }


    }
    &:hover .modal__redirect{
    visibility: visible;
      opacity: 1;

    }
  }
}

.close-modal{
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
  line-height: 0;
  padding: 7px;
  z-index: 999;
  color: #e3588f;
}
.flex {
  &-box {
    display: flex;
    vertical-align: middle;
  }
    &-end {
      align-items: flex-end;
    }
  }

  .w-60{
    width: 60%;
  }

input::-webkit-calendar-picker-indicator {
  opacity:0;
}
input {
  position:relative;
}

.background-white{
  background: #fff;
}

.dropdown-search {
  & .is-floated{
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;

    padding: 0 1.35rem;
  }
}


select{
  &.border-white{
    &.custom-select--lg + .select2 {
      &.select2-container--open {

        & .select2-selection__rendered {
          border-color: $brand-white !important;
        }
        & .select2-selection__arrow{
          &:after{
            transform: translateX(50%) translateY(-50%) rotate(-45deg);
          }
        }
      }
        & .select2-selection__arrow {
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          background: #fff;
          top:5px;
          margin:0 !important;
          bottom: 0;
          right: 0;
          border:none;
          padding: 33px 25px;
          position: absolute;


          &:after {
            position: absolute;
            top: 50%;
            right: 50%;
            bottom: auto;
            content: "";
            width: 15px;
            height: 15px;
            border-style: solid;
            border-width: .15em .15em 0 0;
            transition: all cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.35s;
            transform: translateX(50%) translateY(-50%) rotate(135deg);
            color:$brand-primary;
          }
        }
      }
    }
}
