/**
* @partial: _contact-form7.scss
*/

// == Contact 7 Form
.wpcf7-submit.form__btn {
	margin-top: 0;
	background: url(#{$img_path}right-chev-white.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 0;
	height: 12px;
	width: 12px;
	cursor: pointer;
	text-indent: -99999px;
}

.form div.wpcf7 .subscribe-form .ajax-loader {
	background: url(#{$img_path}spinner.svg);
}

.form div.wpcf7 .ajax-loader {
	position: absolute;
	top: -1.25rem;
	left: 50%;
	background: url(#{$img_path}spinner-primary.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border: 0;
	height: 1.778rem;
	width: 1.778rem;
	transform: translateX(-50%) translateY(-50%);

	@include media(">sm") {
		top: 50%;
		right: -2.5rem;
		left: auto;
		transform: translateX(0%) translateY(-50%);
	}
}

div.wpcf7 div.wpcf7-response-output {
	margin: 1.25rem 0 0.75rem;
	padding: 15px 15px;
	font-size: 14px;
}

div.wpcf7 div.wpcf7-mail-sent-ng {
	border-color: $brand-danger;
	color: $brand-danger;
}

div.wpcf7 div.wpcf7-mail-sent-ok {
	border-color: $form-success-color;
	color: $form-success-color;
}

div.wpcf7 .subscribe-form div.wpcf7-mail-sent-ok {
	border-color: $brand-white;
}

div.wpcf7 div.wpcf7-validation-errors {
	border-color: $brand-danger;
	color: $brand-danger;
}

.subscribe-form.failed .wpcf7-email {
	// @include media("<=sm") {
	// 	margin-bottom: 3.571rem;
	// }
}

// == mail chimp form
#error-mess-popup,
#error-mess-contest,
#error-mess { 
	font-style: italic;
	font-size: 14px;

	&.error {
		margin-bottom: 0.5rem;
	}
}

div.wpcf7 span.wpcf7-not-valid-tip {
	margin: 0.25rem 0 0.75rem;
	color: $brand-danger;
	font-size: 0.889rem;
	text-align: left;
}