/*
** @Bootstrap modal module overwrite
*/

/* Modal */
.modal {	
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10001;
    opacity: 0;
    display: block !important;
    pointer-events: none;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    transition: all ceaser($easeInOutQuint) 0.35s;
}

// Modal open
.modal-open {
    /* Modal body active state */
    overflow: hidden;
    padding-right: 17px;
}

.isTouchDevice {
    .modal-open {
        padding-right: 0px !important;
    }
}

.modal-open .modal.show {
    /* Active state */
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: auto;
    transition: all ceaser($easeInOutQuint) 0.35s;
}

.fade {
	&.show {
		opacity: 1;
	}
}

/* Modal dialog */
.modal-dialog {
    position: absolute;
    top: 0%;
    left: 50%;
	margin-right: auto;
	margin-left: auto;
    padding: 15px 15px;
    width: 100%;
    transform: translateX(-50%) translateY(0%) scale(0.15);

    // Align vertically center
    .y-axis-center & {
        top: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0.15);
    }

    /* Dialog with faded modal */
    .modal.fade & {
		// @include make-transform(translateY(-25%));
	    transition: all ceaser($easeInOutQuint) 0.35s;
    }

    .modal.show & {
        transform: translateX(-50%) translateY(0%) scale(1);
    }

    .modal.show.y-axis-center & {
    	transform: translateX(-50%) translateY(-50%) scale(1);
    }
}

// == Modal content
.modal-content {
    position: relative;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 15px;
    //max-width: 505px;
    //width: 100%;
    @include media(">=sm") {
        padding: 2.918rem 3.889rem 2.222rem;
    }
}

// == Small modal
.modal--sm .modal-dialog {
	max-width: 505px;
}

// == Medium modal
.modal--md .modal-dialog {
	max-width: 820px;
}

.modal--md .modal-content {
	padding: 20px 45px;
	@include media(">=sm") {
		padding: 2.918rem 2.893rem 2.222rem;
	}
}

/* Modal backdrop */
.modal-backdrop {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    background-color: #000;

    /* Faded backdrop */
    &.fade {
    	opacity: 0;
    	filter: alpha(opacity=0);
    }    

    /* Faded in backdrop */
    &.show {
    	opacity: 0.5;
    	filter: alpha(opacity=50);
    }    
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Classic / Default modal
.modal-classic {
    .modal-header {
        padding: 15px 15px;
        background-color: $brand-primary;
    }
}

// == Modal close
.dismiss-modal {
	position: absolute;
	top: 15px;
	right: 15px;

	@include media(">sm") {
		top: 1.389rem;
		right: 1.389rem;
	}
}

.dismiss-modal .icon-close {
	color: $brand-secondary;
	font-size: 1.444rem;
}

// == Promo modal
.promo-modal {
	.modal-header {
		top: 3.125rem;
		right: 15px;
		left: auto;
		@include media(">sm") {
			top: 3.5rem;
			right: 1.389rem;
		}
	}

	.h4 {
		text-transform: inherit;
	}

	.modal-footer {
		margin: 20px -45px -20px;
		padding: 20px 45px 20px;
		background: darken($brand-primary, 5%);
		font-size: 12px;
		@include media(">sm") {
			margin: 2rem -2.893rem -2.222rem;
			font-size: 14px;
		}
	}

    .promo-action-list {
        margin-right: 0 !important;
    }

    .icon-share {
        color: $brand-white !important;
    }
}