/*
** @partial: _swiper.scss
*/

// == Swiper
.swiper-wrapper {
	transition: all ceaser($easeInOutQuint) 0.35s;
}

.slider--hero,
.slider--posts {
	max-width: 1920px;
	.swiper-button {
		margin: 0 0;
		color: $brand-gray;
		text-align: center;		
		@include media('<=sm') {
			width: 2.75rem;
		    height: 2.75rem;
		    line-height: 2.75rem;
		    transform: translateY(-50%);
		}
	}
}

// == Style1 slider
.slider--hero-style1 {
	.swiper-button {
		// transform: none;
		transition: all ceaser($easeInOutQuint) 0.35s;

		@include media(">sm") {
			top: auto;
			bottom: 4.788rem;
		}

		>.icon {
			color: $brand-white;
			@include media(">sm") {
				font-size: 1.25rem;
			}
		}
	}

	.swiper-button-prev {
		left: 0px;
		background-color: $brand-dark;

		&:hover {
			background-color: darken($brand-dark, 5%);
		}
	}

	.swiper-button-next {
		left: auto;
		right: 0;
		background-color: $brand-primary;

		@include media(">sm") {
			right: auto;
			bottom: 0;
			left: 0px;
		}

		&:hover {
			background-color: darken($brand-primary, 5%);
		}
	}
}

// == Style2 slider
.slider--hero-style2 {
	// == Buttons
	.swiper-button {
		&-next {
			right: 0;

			@include media("<ds", ">sm") {
				right: 5%;
			}

			@include media("<1600px", ">=ds") {
				right: 9.5%;
			}

			@include media(">=1600px") {
				right: 19.5%;
			}
		}
		&-prev {
			left: 0;
			@include media("<ds", ">sm") {
				left: 5%;
			}

			@include media("<1600px", ">=ds") {
				left: 9.5%;
			}

			@include media(">=1600px") {
				left: 19.5%;
			}
		}
	}

	// == Pagination
	.swiper-pagination {
		top: 50%;
		right: 20px;
		bottom: auto;
		left: auto;
		width: auto;
		transform: translateY(-50%);

		@include media(">=ls") {
			right: 25px;
		}

		@include media(">=ds") {
			right: 3.75%;
		}

		.swiper-pagination-bullet {
			opacity: 1;
			display: block;
			background-color: #5a656c;
			height: 12px;
			width: 12px;
			transition: all ceaser($easeInOutQuint) 0.35s;

			&:not(:last-child) {
				margin-bottom: 7px;
			}

			&-active {
				background-color: #bfc4c6;
			}
		}
	}
}

// == Posts slider
.slider--posts,
.slider--hero-style2 {
	.swiper-button {
		@include media(">sm") {
			width: 1.5rem;
		    height: 1.5rem;
		    line-height: 1.5rem;
		}
	}
}

// == Carousel
.carousel {

	@include media(">=400px") {
		margin: -1.333rem;
		padding: 1.25rem 1.333rem 2rem;
	}

	@include media(">sm") {
		padding-bottom: 5rem;
	}

	// == Pagination
	.swiper-pagination-bullets {
		line-height: 1;
	}

	.swiper-pagination-clickable .swiper-pagination-bullet {		
		height: 1.167rem;
		width: 1.167rem;
		transition: all ceaser($easeInOutQuint) 0.35s;

		&:not(:last-child) {
			margin-right: 1.333rem;
		}
	}

	.swiper-pagination-clickable .swiper-pagination-bullet-active {
		opacity: 1;
		background-color: $brand-primary;
	}

	// == Fix shadow issue
	@include media(">=400px") {
		.swiper-slide-prev,
		.swiper-slide-next + .swiper-slide + .swiper-slide {
			.shadowed {
				box-shadow: none !important;
			}
		}
	}

	@include media("<400px") {
		.swiper-slide {
			.shadowed {
				box-shadow: none !important;
			}
		}

		.swiper-button-next {
			right: 0;
		}

		.swiper-button-prev {
			left: 0;
		}
	}
}

// == Smaller screen slider
.slider-sm {
	@include media("<=sm") {
		padding-bottom: 3rem;

		// Slide contents

		.is-floated,
		.card__c {
			position: static !important;
		}

		.social-media-col {
			flex-basis: unset;
			padding: 0 0;
		}

		.card--sq {
			&::after {
				display: none;
			}
		}

		// Pagination / Controls
		.swiper-pagination {
			bottom: 0 !important;
			.swiper-pagination-bullet {
				height: 0.857rem;
				width: 0.857rem;
				transition: all ceaser($easeInOutQuint) 0.35s;

				&.swiper-pagination-bullet-active {
					opacity: 1;
					background-color: $brand-primary;
				}

				&:not(:last-of-type) {
					margin-right: 0.75rem;
				}
			}
		}
	}
}