/*
** @partial: _lightgallery.scss
*/

// == Video play
.lightbox__play {
	.icon {
		font-size: 3rem;
		color: #bfc4c6;

		@include media(">sm") {
			font-size: 5.883rem;
		}
	}
}

// == Override lightgallery
.lg-outer {
	z-index: 9999;
}

.lg-backdrop,
.lg-outer .lg-thumb-outer {
	background-color: transparentize(#000000, 0.5);
}

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
	border-color: $brand-primary;
}

#lg-counter,
.lg-toolbar .lg-icon {
	color: $brand-white;
}

@include media("<=sm") {
	.lg-toolbar .lg-icon {
		width: 35px;
	}

	#lg-counter {
		padding-left: 10px;
	}
}

.lg-toolbar {
	background-color: transparentize(#000000, 0.5);
}