/**
* @partial: _header.scss
*/

// == Sticky top navbar(header)
.topnavbar--is-sticky {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: $zindex-super;
	background-color: $brand-white;
	max-width: 1920px;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 2px 22px 3px rgba(0,0,0,0.05);
}

// == Top navbar content
.topnavbar__c {
	@include media(">=ipad") {
		max-height: 104px;
		height: 104px;

		// Fix flickering issue when modal opens
		.notTouchDevice .modal-open & {
			padding-right: 17px;
		}
	}

	// == container
	.container {
		width: 1285px;
	}
}

// == Top navbar row
.topnavbar-row {
	@include media("<ipad") {
		max-height: 60px;
		height: 60px;
	}
}

// == Top navbar columns
.topnavbar-row__i {
	@include media(">=ipad") {
		position: relative;
	}

	// == left column
	&--l {
		position: relative;
		width: 110px;
		left: -15px;
		padding-right: 13px;
		padding-left: 13px;
	}

	// == right column
	&--r {
		@include media("<ipad") {
			flex: 0 0 calc(100% - 90px);
			max-width: calc(100% - 90px);
		}
	}

	// == left column
	@include media(">=ipad") {
		padding-right: 0px;
		padding-left: 0px;
		// min-height: 1px;
		&--l {
			flex: 0 0 14.74222%; //~19.2311111
			max-width: 14.74222%;
		}

		// == right column
		&--r {
			flex: 0 0 (100% - 14.74222%);
			max-width: (100% - 14.74222%);
		}
	}
}

// == Brand logo stuffs
.brand__pic {
	@include media(">=ipad") {
		position: absolute;
		top: -51px;
		left: 15px;
		padding-bottom: percentage(165 / 185);
		background-color: $brand-white;
		box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 3px 30px 3px rgba(0,0,0,0.05);
		width: 100%; //~185px
		// height: 165px;
		text-align: center;
	}

	// == site logo
	.site-logo {
		@include media(">=ipad") {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -46px;
			margin-left: -62px;
		}
	}
}

// == brand tagline
.brand-tagline {
	position: absolute;
	right: 0;
	left: 0;
	bottom: -1.5rem;
	letter-spacing: 0;

	@include media("<ds") {
		font-size: 0.875rem;
	}

	@include media("<=sm") {
		bottom: -2.5rem;
	}
}

// == Actions stuffs
.actions {
	margin-right: -7px;
	margin-left: -7px;
	padding-right: 60px;
	@include media(">=ipad") {
		margin-right: -1.667rem;
		margin-left: -1.667rem;
		padding-right: 0;		
	}

	@include media(">=ls") {
		font-size: 0.889rem;
	}

	// == items
	&__i {
		padding-right: 7px;
		padding-left: 7px;
		@include media(">=ipad") {
			padding-right: 1.667rem;
			padding-left: 1.667rem; //~1.875rem;
		}
	}

	// == remove right margin clock icon on smaller screen
	.icon-clock {
		@include media("<ipad") {
			margin-right: 0;
		}
	}
}

// == action lists
.actions-list {
	margin-right: -7px;
	margin-left: -7px;
	@include media(">=ipad") {
		margin-right: -0.6rem;
		margin-left: -0.6rem;
	}

	&__i, > li {
		padding-right: 7px;
		padding-left: 7px;
		line-height: 1;
		@include media(">=ipad") {
			padding-right: 0.6rem;
			padding-left: 0.6rem;
		}
	}
}

// == icons
.actions-list__i > a,
.actions__dropdown-toggle {
	color: $brand-gray;
	text-transform: $uc;
	&:hover{
		color: $brand-primary;
	}

	&:focus {
		color: $brand-gray;
	}
}

// == js panel toggler
.js-toggle-panel.active,
.show .actions__dropdown-toggle {
	color: $brand-primary !important;
}

.actions-list__i > a {
	display: block;
	color: $brand-gray;
}

// == header collapsable panel
.collapsable-panel {
	padding: 0.9rem 0 1.429rem;
	@include media(">=ipad") {
		padding: 2.5rem 0 2.75rem;
	}
}