/*
** @partial: _general.scss
*/

html {
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	letter-spacing: 0.025rem;

	@include media(">=ls") {
		font-size: 18px;
	}
}

body {
	overflow-x: hidden;
}

* {
	margin: 0 0;
	padding: 0 0;
	
	&:focus {
		outline: 0;
	}
}

button, input, textarea {
	font-family: $font-family-base;
}

ul, ol {
	margin: 0 0;
	padding: 0 0;
	list-style: none;
}

img {
	vertical-align: top;
	max-width: 100%;
}

[class*="wp-image"] {
	height: auto !important;
}

a,
button,
input {
	outline: none;
	text-decoration: none;
	box-shadow: none;
	transition: all ceaser($easeInOutQuad) 0.35s;

	&:hover,
	&:focus,
	&:active,
	&:active:focus {
		box-shadow: none;
		outline: none;
		text-decoration: none;
	}
}

a {
	&:hover {
		color: $link-hover-color;
	}
}

.isTouchDevice .btn {
	&:hover {
		color: $brand-white;
	}
}

// == HIDE SMOOTHSCROLL'S STRUCTURE TO AVOID WHITESPACE
div[style*="position: absolute; z-index: -10000;"] {
	display: none !important;
}
.t-hover-underline {
	text-decoration: underline;
}
.promoModal-02 .modal-content {
	padding: 1.2rem 1.2rem 2.222rem !important;
}
.promoModal-02 .modal-body{
	figure{
		height: 22rem;

		img{
			height: 100% !important;
			width: 100%;
		}
	}
}
@media (min-width: 767px) {
	.promoModal-02 .modal--md .modal-content {
		padding-top: 0.918rem;
	}
}
.promoModal-02.promo-modal  .modal-footer{
	margin-top: 0;
	background-color: transparent;
	figure{
		height: 90px;
		margin: 0;

		img{
			height: 100% !important;

		}
	}
}
