/*
** Layout module
*/

// == Site outer wrapper
.site-outer {
	// overflow-x: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-top: 60px;
	max-width: 1920px; //~1920px;
	@include media(">=ipad") {
		padding-top: 104px;
	}
}

// == Make full width layout
.is-extended-full {
	margin-right: -15px;
	margin-left: -15px;
	@include media(">sm") {
		width: 100vw; //~-20.316rem;		
		// margin-left: calc(50% - (50vw + 8px));
		margin-left: calc(50% - 50vw);
	}

	@include media("<1300px", ">ipad") {
		margin-left: calc(50% - (50vw + 8px));
	}

	// @include media(">1920px") {		
	// 	.no-touch & {						
	// 		margin-left: calc(50% - 50vw);
	// 	}
	// }
}

.is-extended {
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 15px;
	padding-left: 15px;
	@include media(">=1170px") {
		margin-right: -20.834rem; //~-20.834rem = 1920px
		margin-left: -20.834rem;
		padding-right: 20.834rem;
		padding-left: 20.834rem;
	}
}

.is-xs-extended {
	@include media("<=sm") {
		margin-right: -15px;
		margin-left: -15px;
		padding-right: 15px;
		padding-left: 15px;
	}
}

// == text container
[class*="text-container"] {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.text-container--xs {
	max-width: 685px;
}

.text-container--sm {
	max-width: 850px;
}

// == Custom layouts
.col-xs-3 {
	@include media("<=sm", ">=xmd") {
		flex: 0 0 25%;
		max-width: 25%;
	}
}