/*
** @partial: _footer.scss
*/

// == Footer styling
.site-footer {
	position: relative;
	z-index: $zindex-normal;

	@include media("<=sm") {
		background-color: $brand-gray-light !important;
	}
}

.site-footer-inner {
	padding-top: 2.143rem;
	// padding-bottom: 2.143rem;

	@include media(">sm") {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
}

// == Footer service widget
.footer-widget--services {
	@include media("<=sm") {
		margin-top: -2.143rem;
		margin-bottom: -16rem;
		// margin-right: -15px;
		// margin-left: -15px;
	}

	@include media('>sm') {
		// margin-top: -24%, //~-31.25%;
		margin-top: -15.05rem;
	}
}

.footer-bottom-row {
	@include media("<=sm") {		
		margin-right: -15px;
		margin-left: -15px;
		padding-top: 18.5rem;
		padding-bottom: 2.5rem;
		background-color: $brand-black;
	}
}

// == Services list
.lists.lists--services {
	>li {
		margin-bottom: 2rem;
		text-transform: $uc;
		line-height: 1.3;
		font-family: $font-family-poppins;
		font-weight: 500;

		@include media("<=sm") {
			font-size: 0.857rem;
			&:last-of-type {
				margin-bottom: 0;
			}
		}

		@include media(">sm") {
			margin-bottom: 3rem;//~2.778rem;
		}
	}
}

// == Footer quick links
.lists--quick-links {
	>li {
		flex: 0 0 100%;
		max-width: 100%;
		@include media(">sm") {
			flex: 0 0 43%;
			max-width: 43%;
		}
	}
}

// == Footer widget title
.footer-widget__t {
	margin-bottom: 1.55rem;
	@include media(">=ls") {
		font-size: 1rem;
	}
}

// == Footer newsletter form
.newsletter-form {
	// == newsletter form control
	.newsletter-form__control {
		padding: 0 0;
		background: transparent;
		border-color: transparent;
		border-bottom-color: $brand-gray;
		border-width: 1px;
		color: $brand-white;

		@include media(">=ls") {
			font-size: 0.889rem;
		}
	}

	// == newsletter form btn
	.newsletter-form__btn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
}
