/*
** @partial: _chevron.scss
*/

// Extend chevron mixin
$chevron_dir: up down right left;
$chevron_dim: 10;
$chevron_s: 0.15;
$chevron_color: $brand-primary, $brand-black, $brand-white;
$chevron_size: $brand_size_class_list;
$sizes_val: $brand_size_val_list;

/* Extract make-chevron mixin */
.chevron {
	@include make-chevron($chevron_color, $chevron_size, $sizes_val, $chevron_dir, $chevron_dim, $chevron_s, 0, 0, auto, 0);
}