/* Make block gaps mixin */
@mixin make-block-gaps($list) {
	@each $gap in $list {
		$gap-type: nth($gap, 1);
		$gap-val: nth($gap, 2);

		.gap-p-#{$gap-type} {
			@each $i-gap in $gap-val {
				padding-top: $i-gap;
				padding-bottom: $i-gap;
				@content;
			}
		}
	}
}