/*
** @partial: _chevron.scss, @mixin
*/

/* Make chevron mixin */
@mixin make_chevron($list_color, $sizes, $val, $dirs:up, $dim: 10, $w_size:0.15, $top:0, $right:auto, $bottom:auto, $left:auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  content: "";
  width: $dim + px;
  height: $dim + px;
  border-style: solid;
  border-width: $w_size + em $w_size + em 0 0;
  transition: all ceaser($easeInOutQuad) 0.35s;
  @content;

  $i: 1;

  @each $s in $sizes {
    &--#{$s} {
      width: nth($val, $i) + rem;
      height: nth($val, $i) + rem;
      border-width: (nth($val, $i)/5)+rem (nth($val, $i)/5)+rem 0 0;
    }

    $i: $i + 1;
  } 

  @each $dir in $dirs {
    &--#{$dir} {
      @if($dir) == 'up' {
        margin-top: 0.15rem;
        transform: rotate(-45deg);
        &.center {
          top: 50%;
          left: 50%;
          margin-top: 0.25rem;
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
      }@else if($dir) == 'down' {
        transform: rotate(135deg);
        &.center {
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(135deg);
        }
      }@else if($dir) == 'right' {
        transform: rotate(45deg);
        &.center {
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }
      }@else if($dir) == 'left' {
        transform: rotate(-135deg);
        &.center {
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(-135deg);
        }
      }
    }
  }

  @each $color in $list_color {
    &--#{$color} {
      @if $color == 'light' {
        color: $brand-white;
        &:hover {
          color: $brand-primary;
        }
      }@else if $color == 'primary' {
        color: $brand-primary;
        &:hover {
          color: darken($brand-primary, 5%);
        }
      }@else if $color == 'secondary' {
        color: $brand-secondary;
        &:hover {
          color: darken($brand-secondary, 5%);
        }
      }@else if $color == 'default' {
        color: $brand-dark-gray;
        &:hover {
          color: darken($brand-dark-gray, 5%);
        }
      }
      @else {
        color: $brand-black;
        &:hover {
          color: darken($brand-black, 5%);
        }
      }
    }    
  }
}