/*
** @partial: _menu.scss
*/

// == Menu holder
.menu-holder {
	@include media(">=ipad") {
		padding-right: 3.333rem;
	}
}

// == Menu
.menu {
	@include media(">=ipad") {
		margin-right: -1.375rem;
		margin-left: -1.375rem;
	}

	>li, &__i {
		line-height: 1;
		@include media(">=ipad") {
			padding-right: 1.222rem;//~1.375rem;
			padding-left: 1.222rem;//~1.375rem;
		}

		@include media(">=ls") {
			font-size: 0.889rem;
		}

		> a {
			display: block;
			padding: 20px 15px;
			border-bottom: 1px solid darken($brand-primary, 15%);
			color: $brand-white;
			font-family: $font-family-poppins;
			font-weight: 500;
			text-transform: $uc;

			@include media(">=ipad") {
				position: relative;
 				padding: 45px 0px;
				border-bottom: 0;
				color: inherit;
			}

			@include media(">=ls") {
				padding: 44px 0px;
			}

			&:hover,
			&:focus {
				color: $brand-primary;
			}
		}
	}

	// == Current menu item
	.current-menu-item {
		>a{
			@include media(">=ipad") {
				color: $brand-primary;
			}
			&::after {
				position: absolute;
				left: 50%;
				bottom: 0;
				content: "";
				border-left: 0.75rem solid transparent;
				border-right: 0.75rem solid transparent;
				border-bottom: 0.75rem solid $brand-primary;
				height: 0;
				width: 0;
				transform: translateX(-50%);
			}
		}
	}
}

// == Mobile menu
@include media("<ipad") {
	// == Navbar header
	.navbar__header {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 60px;
		width: 60px;
	}

	// == Navbar toggle button
	.navbar__toggle {
		position: absolute;
		right: 0px;
		bottom: 0;
		background-color: $brand-primary;
		height: 60px;
		width: 60px;

		// Line bars
		.line-bar {
			position: absolute;
			top: 0;
			left: 50%;
			opacity: 1;
			margin-left: -17px;
			background: $brand-white;
			border-radius: 3px;
			height: 4px;
			width: 32px;
			transform: rotate(0deg);
			transition: all ceaser($easeInOutQuint) 0.35s;

			&:nth-child(1) {
				top: 20px;
			}

			&:nth-child(2), &:nth-child(3) {
				top: 29px;
			}

			&:nth-child(4) {
				top: 38px;
			}
		}

		// == Humburger menu opened
		&.expanded .line-bar {
			&:nth-child(1), &:nth-child(4) {
				top: 18px;
			    left: 50%;
			    opacity: 0;			    
			    width: 0%;			    
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}

	// == Menu holder
	.menu-holder {
		position: fixed;
		top: 60px;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: $brand-primary;
		transform: translateX(100%);
		transition: all ceaser($easeInOutQuint) 0.35s;

		// == Open state
		&.show {
			transform: translateX(0%);
		}
	}

	// == Menu
	.menu {
		display: block !important;
	}
}