/*
** @partial: _submenu.scss
*/

// == Navbar
.dropdown .dropdown-menu {
	padding: 15px 15px;
	@include media(">=ipad") {
		padding: 3.500rem 3.125rem;
	}
}

.share-dropdown__menu {
	position: absolute;
	top: 100%;
	left: 50%;
	pointer-events: none;
	opacity: 0;
	margin-top: 12px;
	background-color: $brand-white;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.01), 0 5px 32px 10px rgba(0,0,0,0.05);
	transform: translateX(-50%) translateY(10px);
	transition: all ceaser($easeInOutQuint) 0.35s;

	.dropdown.show & {
		opacity: 1;
		pointer-events: auto;
		transform: translateX(-50%) translateY(0px);
	}

	&::before {
		position: absolute;
		top: -7px;
		left: 50%;
		content: "";
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid $brand-white;
		height: 0;
		width: 0;
		transform: translateX(-50%);
	}

	>li {
		padding: 0 0;
		&:not(:last-of-type) {
			border-bottom: 1px solid $brand-gray-mid;
		}
		&:hover {
			background: none;
		}
	}

	>li>a {
		display: block;
		padding: 10px 15px;
		color: $brand-gray;
		line-height: 1;
		text-align: center;

		&:hover {
			color: $brand-primary;
		}
	}
}

// == Hide caret after dropdown
.dropdown-toggle::after {
    display:none
}

// == Dropdown chevron up
.actions .dropdown-toggle {
	position: relative;
	padding: 19px 0 20px;//~19px 0px 20px;
	font-family: $font-family-poppins;
	font-weight: 500;
	@include media(">=ipad") {
		padding: 42px 0px 41px;
	}

	@include media(">=ls") {
		padding: 40px 0px;
	}

	&::before {
		position: absolute;
		right: 0;
		bottom: -1px;
		left: 50%;
		opacity: 0;
		pointer-events: none;
		content: "";
		border-left: 14px solid transparent;
		border-right: 14px solid transparent;
		border-bottom: 14px solid $brand-primary;
		width: 0; 
		height: 0;
		transform: translateX(-50%) translateY(13px);
		transition: all ceaser($easeInOutQuint) 0.35s;
	}
}

// == Dropdown menu
.dropdown-menu {
	z-index: $zindex-high;
	opacity: 0;
	pointer-events: none;
	display: block;
	transform: translateY(10px);
	transition: all ceaser($easeInOutQuint) 0.35s;
}

// == Dropdown mega menu style
.dropdown--lg {
	.dropdown-menu {
		right: 0px;
		left: 0px;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 4rem;
		max-height: calc(100vh - 60px);

		@include media(">=ipad") {
			max-height: none;
		}
	}
}

// == Dropdown hover action
.notTouchDevice .dropdown:hover {
	.dropdown-toggle::before {
		opacity: 1;
		pointer-events: auto;
		transform: translateX(-50%) translateY(0px);
	}

	.dropdown-menu {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0px);
	}
}

.dropdown.show {
	.dropdown-toggle::before {
		opacity: 1;
		pointer-events: auto;
		transform: translateX(-50%) translateY(0px);
	}

	.dropdown-menu {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0px);
	}
}

// == Opening hours
.opening-hours {
	@include media(">=ls") {
		font-size: 0.889rem;
	}
}

// == share icons
.promo-action-list .show .icon-share {
	color: $brand-primary;
}