/*
** @partial: _custom-ui.scss
*/

.fancy-field-group {
	input[type="checkbox"],
	input[type="radio"],
	.fancy-field {
		// Immediate sibling
		+ label {
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: 0 0.5rem 0.5rem 0;
			padding-left: 2.5rem;
			line-height: 1.5rem;
			font-weight:  bold;
			text-transform: $uc;

			&::before {
				@include make-full-position(absolute);
				content: "";
				background-color: $brand-white;
				width: 1.688rem;
				height: 1.688rem;
			}

			&::after {
				@include make-full-position(absolute);
				top: 0.05rem;
				left: 0.35rem;
				opacity: 0;
				content: "";
				border-style: solid;
				border-width: .275em .275em 0 0;
				color: $brand-primary;
				width: 1.55rem;
				height: 0.9rem;
				transform: rotate(130deg);
				transition: all ceaser($easeInOutQuint) 0.35s;
			}
		}

		// Checked state
		&:checked + label {
			&::after {
				opacity: 1;
			}
		}

		.page-profile-settings &,
		&.req {
			+ label {
				&::after {
					color: $brand-secondary;
				}
			}
		}
	}

	// Flat field
	input[type="checkbox"].fancy-field--flat,
	input[type="radio"].fancy-field--flat,
	.fancy-field--flat {
		+ label {
			margin-right: 0;
			margin-bottom: 0;
			padding: 8px 10px 6px;
			background-color: transparent;
			border: 1px solid $brand-black;
			color: $brand-black;
			cursor: pointer;			
			text-align: center;
			line-height: 1;
			width: 100%;
			transition: all ceaser($easeInOutQuint) 0.35s;

			&::before,
			&::after {
				display: none;
			}
		}

		// Checked state
		&:checked {
			+ label {
				background-color: $brand-black;
				color: $brand-white;
			}
		}
	}

	// Changing ui of radio box to circular shape
	input[type="radio"] {
		+ label {
			&::before {
				border-radius: 50%;

				@include media("<ipad") {
			    	width: 1.5rem;
			    	height: 1.5rem;
			    }
			}

			&::after {
				top: 50%;
				left: 0.5rem;
				margin-top: 0.05rem;
			    background-color: $brand-primary;
			    border: 0;
			    border-radius: 50%;
			    width: 0.75rem;
			    height: 0.75rem;
			    transform: translateY(-50%);

			    @include media("<ipad") {
			    	width: 8px;
			    	height: 8px;
			    	left: 6px;
			    }
			}
		}

		&.req {
			+ label {
				&::after {
					background-color: $brand-secondary;
				}
			}
		}
	}

	// Inline fancy group
	&-inline {
		display: flex;

		input[type="checkbox"].fancy-field--flat,
		input[type="radio"].fancy-field--flat,
		.fancy-field--flat {
			+ label {
				width: 50%;
				background-color: $brand-black;
				color: $brand-white;

				&:last-child {
					border-left: 0;
				}
			}

			&:checked {
				+ label {
					background-color: $brand-secondary;
					border-color: $brand-secondary;
				}
			}
		}
	}

	// Disabled
	input[disabled] {
		+ label {
			color: darken($brand-dark-gray, 10%) !important;

			&::after {
				border-color: darken($brand-dark-gray, 10%) !important;				
			}
		}
	}
}